# Visual Studio Code
.vscode/
.vs/
*.vscode/
*.code-workspace

# Arquivos temporários e gerados automaticamente
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.swp
Thumbs.db
ehthumbs.db
Desktop.ini

# Dependências geradas automaticamente
package-lock.json
yarn.lock

# Arquivos e diretórios de build
dist/
build/
lib/
out/
bin/
